header, footer, section {
	margin: 10px;
	padding: 10px;
	background-color: #fff;
}

p {
	text-align: center;
}

html {
	background-color: #e6e6e6;
}

body {
	max-width: 1400px;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
	overflow-x: auto;
}

header {
	height: 80px;
}

.topNav {
	float: right;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
	right: 20px;
}

.topNav li {
	display: inline-block;
	width: 120px;
	height: 40px;
	text-align: center;
	background-color: #81b2bd;
	margin-left: 15px;
	box-shadow: 2.5px 2.5px 5px 1px slategray;
}

.topNav li a {
	line-height: 40px;
	color: #3d0099;
	font-weight: bold;
	text-decoration: none;
}

.topNavButton {
	height: 40px;
	padding: 0 20px;
}

#topNavButton1 {
	padding: 0 45px;
}

section > h1 {
	text-align: center;
}

footer > p {
	color: gray;
}

.mainButtonWrap {
	width: 210px;
	height: 120px;
	margin: 0 auto;
}

#aboutMeButton {
	margin-right: 10px;
}

.mainButton {
	height: 100px;
	width: 100px;
	text-align: center;
	background-color: #81b2bd;
	box-shadow: 2.5px 2.5px 5px 1px slategray;
	float: left;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

.mainButton a {
	line-height: 100px;
	color: white;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}

.mainButton a:hover {
	color: sandybrown;
}

#aboutMeMap {
	display: block;
	margin: 20px auto;
}

.aboutMeSectionWrap {
	width: 1000px;
	margin: auto;
}

.aboutMeSection {
	height: 150px;
	padding: 5px;
	margin: 10px 0;
	overflow: hidden;
	word-wrap: break-word;
}

.aboutMeSection > p {
	text-align: left;
}

.aboutMeSectionWrap h1,p {
	margin: 5px 0;
}

footer > p {
	margin: 16px 0;
}

.myPhotoSection {
	height: 330px;
}

.myPhotoClass {
	width: 400px;
	margin: 30px 100px;
	border: 10px solid gray;
	float: left;
}

#PoroSection {
	height: 370px;
}

.myPhotoSection p {
	line-height: 2;
	text-align: left;
	padding-top: 30px;
	padding-right: 100px;
}
